<nav class="navbar navbar-expand navbar-light bg-light main-header">

<div class="container">
 
  <div class="nav navbar-nav">
    <a class="nav-item nav-link active" class="btn btn-info" href="#" aria-current="page">Sistema <span
        class="visually-hidden">(current)</span></a>&nbsp;
    <a class="nav-item nav-link" class="btn btn-info" routerLink="listar-cita">Listar Citas</a>&nbsp;
    <a class="nav-item nav-link" class="btn btn-info" routerLink="listar-cliente">Listar Clientes</a>&nbsp;
    <a class="nav-item nav-link" class="btn btn-info" routerLink="listar-mascota">Listar Mascotas</a>&nbsp;
  </div>

  <div class="card">

    <div class="card-header">
      Cupi Veterinaria
    </div>

    <div class="card-body">

      <div class="table-responsive">
        <a class="btn btn-info" routerLink="/agregar-cita">Agregar una Cita</a>&nbsp;
        <a class="btn btn-info" routerLink="/agregar-cliente">Agregar un Cliente</a>&nbsp;
        <a class="btn btn-info" routerLink="/agregar-mascota">Agregar una Mascota</a>&nbsp;


      </div>

    </div>
  </div>


</div>


</nav>

  <br>
  <router-outlet>

  </router-outlet>

